.ninja_deps
.ninja_log
.cache
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
build.ninja
cmake/CPM.cmake
cmake_install.cmake
compile_commands.json
cpm-package-lock.cmake
examples/output/
serializationConfig.cmake
serializationConfigVersion.cmake
serialization_tests
serialization_tests\[1\]_include.cmake
serialization_tests\[1\]_tests.cmake
utemplConfigVersion.cmake
install_manifest.txt
CPM_modules/
Makefile
_deps/
examples/output
lib__cmake_cxx23.a
libserialization.a
libserialization_shared.so
